In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install pandas_datareader

In [3]:
import pandas as pd

In [4]:
pd.core.common.is_list_like = pd.api.types.is_list_like

In [5]:
from pandas_datareader import data

In [10]:
df = data.get_data_yahoo ('MSFT', '2018-01-01', '2019-01-01')

In [11]:
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  83.817863
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  84.207939
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  84.949089
2018-01-05  88.410004  87.430000  87.660004  88.190002  23407100.0  86.002296
2018-01-08  88.580002  87.599998  88.199997  88.279999  22113000.0  86.090065